* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  list-style: none;
  text-decoration: none;
  align-items: center;
  font-family: "Roboto", system-ui;
  font-weight: normal;
  font-style: normal;
}

footer {
  background-color: #130f40;
  width: 100%;
  padding: 16px;
  text-align: center;
  margin-top: 16px;

  span {
    color: white;
    font-weight: bold;
  }
}

.list_container {
  max-width: 70vw;
  padding: 8px;
  margin: 0 auto;

  p {
    margin: 16px 0;
  }

  ul {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .list_item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2vh 0;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .list_item_link {
      width: 100%;
      padding: 4px;
      margin-top: 4px;
      color: black;
      border: 1px solid black;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
    }

    .list_item_infos {
      p {
        margin: 0;
        line-height: 1;
      }

      .list_item_infos_price {
        font-size: 1.1rem;
        margin: 6px 0;
      }
    }
  }
}

.container_detalhes {
  max-width: 85vw;
  padding: 8px;
  margin: 0 auto;

  .detalhes_nome {
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .detalhes_infos {
    p {
      margin: 0;
      line-height: 1.1;
      font-size: 1.2rem;
    }

    .detalhes_infos_price {
      font-size: 1.6rem;
      margin: 6px 0;
    }
  }

  .detalhes_desc {
    margin-top: 1vh;
  }

  .contratar {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 36px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.1rem;
    text-align: center;
    width: 30vw;
  }
}

.form__container {
  margin-bottom: 3vh;
}

#newForm {
  display: none;
}

.process__container {
  margin-top: 3vh;

  .line {
    border-bottom: 1px solid rgba(44, 42, 42, 0.605);
  }

  .dots {
    margin-top: 4px;
    display: flex;
    gap: 2px;
    .dot {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid rgba(44, 42, 42, 1);
    }

    .dot--current {
      background-color: rgba(44, 42, 42, 1);
    }
  }
}
